.nav {
    justify-content: space-between !important;
}

.header {
    z-index: 9999999;
    width: 100% !important;
    background-color: #BB2339 !important;

}

.but {
    width: 131px !important;
    border: 1px solid #fff !important;
    border-radius: 50px;
    height: 48px !important;
}

.menus {
    align-items: center !important;

    gap: 10px;
}

.menus li a {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.textt {
    font-size: 24px;
    color: #BB2339;
    font-weight: bold;
    padding-bottom: 40px;
    padding-top: 8px;
}

.text-2 {
    font-weight: 700;
    padding-bottom: 10px;
    color: #242424;
    font-size: 18px;
}

.aa {
    background-color: transparent !important;
}

.hero {
    width: 100vh !important;
    width: 100% !important;
}

.card h3 {
    color: #FFFFFF !important;
    font-size: 23px !important;
}

.card h1 {
    color: #FFFFFF !important;
    font-size: 90px;
    font-family: sans-serif;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card p {
    font-size: 16px;
    color: #FFFFFF;
    max-width: 453px;
    width: 100%;
}

.hero-btn {
    max-width: 173px;
    width: 100%;
    height: 44px;
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    margin-top: 40px;
}

.cal {
    border: 1px solid #BB2339;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cal a {
    font-size: 16px;
    color: #242424;
    font-weight: 600;
}

.cart {
    border: 1px solid #2424241A;
    transition: 0.7s;
}

.cart h2 {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 18px;
    color: #242424;
    font-weight: 700;
}

.cart h3 {
    color: #BB2339;
    font-size: 24px;
    font-weight: bold;
}

.cart:hover img {

    transform: scale(1.1);

}

.cal:hover {
    background-color: #BB2339;

    a {
        color: white;
    }
}

.texd {
    color: #BB2339;
    font-size: 48px;
    font-weight: 500;

}

.ss {
    text-align: center;
    color: #242424;
    font-weight: 700;
    font-size: 23px;
    margin-bottom: 16px;
}

.aa {
    color: #242424;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
}

.map {
    border-radius: 15px;
}

.gh {
    align-items: center !important;
    justify-content: center;
}

.ssa {
    font-size: 48px;
    font-weight: 500;
    text-align: center;
}

.cardm {
    border: 1px solid #2424241A;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.butn{
    max-width: 149px !important;
    height: 44px !important;
    border: 1px solid #BB2339 !important;
    margin: 0 auto;
    display: block !important;
    width: 100%;
    margin-top: 50px;
    border-radius: 100px;
    font-weight: bold;
}
.butn:hover{
    background-color: #BB2339;
    color: white;
}
.bgimg{
    background-image: url("../imegs/9.png") !important;
    height: 763px !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 120px;
}






@media (max-width:1200px) {
    .hero {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .titel {
        text-align: center;
        margin: 0 auto;
    }

    .img {
        width: 100%;
        margin-top: 80px;
    }
}

@media (max-width:560px) {
    .card h1 {
        font-size: 70px;
    }
}

@media (max-width:493px) {
    .text {
        font-size: 35px;
    }
}

@media (max-width:410px) {
    .text {
        font-size: 18px;
    }

    .img-2 {
        width: 30px;
        height: 30px;
    }

    .img-1 {
        width: 30px;
        height: 30px;
    }
}



@media (max-width:640px) {
    .contend {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:1030px) {
    .ullu {
        display: none;
    }
}

@media (max-width:767px) {
    .sms {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .texd {
        margin: 0 auto;
    }
}

@media (max-width:1024px) {
    .m1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 30px;

        div {
            max-width: 550px;
            border-width: 0px, 0px, 0px, 0px;

            border-style: solid;

            border-color: #3333331A;
        }
    }
}

@media (max-width:777px) {
    .cardmotas {
        grid-template-columns: repeat(2, auto);
    }
}

@media (max-width:600px) {
    .cardmotas {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 40px;
        margin-top: 50px;
    }
}